#sidenav {
  width: 130px;
  position: fixed;
  top: 4.5em;
  right: 10px;
  background: #eee;
  border-radius: 20px;
  z-index: 999;

  a{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    border-radius: 20px;

    &:hover {
      background-color: #e3e0cc;
    }
    &.active {
      background-color: #dbceb0;
    }
  }

  ul{
    padding-inline-start: 0;
    margin-block-end: 0;
  }
}
  
// /* scrollspy */
// .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
//   background-color: #dbceb0;
// }