 making full page height section
/* html,body, #root{
    height: 100%;
     width: 100%;
     margin: 0;
     scroll-behavior: smooth;
     font-family: 'Lobster', cursive;
     position: relative;
 }  */

 /* section{ */
 /* #indroduction {
     min-height: 100%;
     width: 100%;
     padding: 50px;
     position: relative;
 } */
 
 

 
 section {
   box-shadow: 0 4px 15px 0px grey;
 }
 
 
 /* Menu bar*/
 #sidenav {
   width: 130px;
   position: fixed;
   top: 4.5em;
   right: 10px;
   background: #eee;
   border-radius: 20px;
 }
 
 #sidenav a{
   padding: 6px 8px 6px 16px;
   text-decoration: none;
   font-size: 25px;
   color: black;
   display: block;
   border-radius: 20px;
 }
 
 #sidenav a:hover {
   background-color: #e3e0cc;
 }
 
 /* scrollspy */
 .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
   background-color: #dbceb0;
 }
 
 
 /* FIRST SECTION - WELCOME PAGE */
 #introduction{
     position: relative;
     background-image: url('./media/backgroundImageSection1.jpeg');
     z-index: 100;
     min-height: 100%;
     width: 100%;
     padding: 50px;
 }
 
 #introduction-header{
     animation: slide-up 2s;
     font-family: 'Yesteryear', cursive;
     font-size: 50px;
     font-weight: bold;
     text-align: center;
     color: black;
 }
 
 .content {
   text-align: center;
 }
 
 /*slide-up text */
 @keyframes slide-up{
     from {
         padding-top: 500px;
         opacity: 1;
         line-height: 200px;
     }
     to {
         padding-top: 0;
         opacity: 1;
         line-height: 25px;
     }
 }
 
 /* Animation for introduction page (first page) */
 .rotatingText{
     font-size: 18px;
     color: black;
     text-align: center;    
 }
 
 .rotatingText-adjective{
     font-size: 30px;
     font-style: normal;
     font-weight: 700;
     left: 0;
     /* margin-left: 270px; */
     opacity: 0;
     position: absolute;
     color:black;
     right:0; 
 }
 
 .rotatingText-adjective:nth-of-type(1){
     animation-name: rotate;
     animation-duration: 5s;
     animation-delay: 2s;
     animation-fill-mode: forwards;
     height: 10px;
     top: 9em;
 }
 
 .rotatingText-adjective:nth-of-type(2){
     animation-name: rotate;
     animation-duration: 5s;
     animation-delay: 3s;
     animation-fill-mode: forwards;
     /* text-indent: 7em; */
     top: 12em;
 }
 
 .rotatingText-adjective:nth-of-type(3){
     animation-name: rotate;
     animation-duration: 5s;
     animation-delay: 4s;
     animation-fill-mode: forwards;
     /* text-indent: 15em; */
     top: 15em;
 }
 
 @keyframes rotate{
     0% {
         opacity: 0;
     }
     
     /* 20%, 80% {
         opacity: 1;
     } */
 
     100% {
         opacity: 1;
     }
 }
 
 
 
 /* SECOND SECTION - ABOUT*/
 .img-about{
     width: 200px;
 }
 
 .img-container{
     float: left;
     margin: 30px;
     padding: 5px;
     border: 1px solid black;
     background-color: #ddd;
 }
 
 section#about{
     background-color:#c5d5c5;
     z-index: 75;
 }
 
 .my-name {
     margin-top: 60px;
     font-weight: bold;
 }
 
 ul li{
     list-style: none;
     margin: 10px;
 }
 
 ul{
     font-size: 17px;
 }
 
 span{
     font-size: 17px;
 }
 
 p{
     font-size: 20px;
     text-indent: 2em;
 }
 
 
 /* THIRD SECTION - TIMELINE */
 #timeLine{
     background-image: url('./media/backgroundImageSection3.jpeg');
     background-repeat: no-repeat;
     background-size: cover;
     z-index:50;
 }
 
 body { background: #333; }
 
 img { border: 0; max-width: 100%; }
 
 /** timeline box structure **/
 .timeline {
   list-style: none;
   padding: 20px 0 60px;
   position: relative;
   margin-bottom: 0;
 }
 
 .timeline:before {
   top: 4em;
   bottom: 5em;
   position: absolute;
   content: " ";
   width: 3px;
   background-color: #eee;
   left: 50%;
   margin-left: -1.5px;
 }
 
 .tldate {
   display: block;
   width: 200px;
   background: #414141;
   border: 3px solid #212121;
   color: #ededed;
   margin: 0 auto;
   padding: 3px 0;
   font-weight: bold;
   text-align: center;
   box-shadow: 0 0 11px rgba(0,0,0,0.35);
 }
 
 .timeline li {
   margin-bottom: 25px;
   position: relative;
 }
 
 .timeline li:before, .timeline li:after {
   content: " ";
   display: table;
 }
 .timeline li:after {
   clear: both;
 }
 .timeline li:before, .timeline li:after {
   content: " ";
   display: table;
 }
 
 /** timeline panels **/
 .timeline li .timeline-panel {
   width: 46%;
   float: left;
   background: #fff;
   border: 1px solid #d4d4d4;
   padding: 20px;
   position: relative;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
   -moz-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
   box-shadow: 0 1px 6px rgba(0, 0, 0, 0.15);
 }
 
 /** panel arrows **/
 .timeline li .timeline-panel:before {
   position: absolute;
   top: 26px;
   right: -15px;
   display: inline-block;
   border-top: 15px solid transparent;
   border-left: 15px solid #ccc;
   border-right: 0 solid #ccc;
   border-bottom: 15px solid transparent;
   content: " ";
 }
 
 .timeline li .timeline-panel:after {
   position: absolute;
   top: 27px;
   right: -14px;
   display: inline-block;
   border-top: 14px solid transparent;
   border-left: 14px solid #fff;
   border-right: 0 solid #fff;
   border-bottom: 14px solid transparent;
   content: " ";
 }
 .timeline li .timeline-panel.noarrow:before, .timeline li .timeline-panel.noarrow:after {
   top:0;
   right:0;
   display: none;
   border: 0;
 }
 
 .timeline li.timeline-inverted .timeline-panel {
   float: right;
 }
 
 .timeline li.timeline-inverted .timeline-panel:before {
   border-left-width: 0;
   border-right-width: 15px;
   left: -15px;
   right: auto;
 }
 
 .timeline li.timeline-inverted .timeline-panel:after {
   border-left-width: 0;
   border-right-width: 14px;
   left: -14px;
   right: auto;
 }
 
 
 /** timeline circle icons **/
 .timeline li .tl-circ {
   position: absolute;
   top: 23px;
   left: 50%;
   text-align: center;
   background: lightyellow;
   color: #fff;
   width: 35px;
   height: 35px;
   line-height: 35px;
   margin-left: -16px;
   border: 3px solid #90acc7;
   border-top-right-radius: 50%;
   border-top-left-radius: 50%;
   border-bottom-right-radius: 50%;
   border-bottom-left-radius: 50%;
   z-index: 99999;
 }
 
 
 /** timeline content **/
 .tl-heading h4 {
   margin: 0;
   color: #c25b4e;
 }
 
 .tl-body p, .tl-body ul {
   margin-bottom: 0;
 }
 
 .tl-body > p + p {
   margin-top: 5px;
 }
 
 /** media queries **/
 @media (max-width: 991px) {
   .timeline li .timeline-panel {
     width: 44%;
   }
 }
 
 @media (max-width: 700px) {
   .page-header h1 { font-size: 1.8em; }
   
   ul.timeline:before {
     left: 40px;
   }
   
   .tldate { width: 140px; }
 
   ul.timeline li .timeline-panel {
     width: calc(100% - 90px);
     width: -moz-calc(100% - 90px);
     width: -webkit-calc(100% - 90px);
   }
 
   ul.timeline li .tl-circ {
     top: 22px;
     left: 22px;
     margin-left: 0;
 
   }
   ul.timeline > li > .tldate {
     margin: 0;
   }
 
   ul.timeline > li > .timeline-panel {
     float: right;
   }
 
   ul.timeline > li > .timeline-panel:before {
     border-left-width: 0;
     border-right-width: 15px;
     left: -15px;
     right: auto;
   }
 
   ul.timeline > li > .timeline-panel:after {
     border-left-width: 0;
     border-right-width: 14px;
     left: -14px;
     right: auto;
   }
 }
  
 
 /* FIFTH SECTION - FOOTER */
 #footer {
   background:radial-gradient(ellipse at center, rgba(255,254,234,1) 0%, rgba(255,254,234,1) 35%, #B7E8EB 100%);
   overflow: hidden;
   min-height: 50%;
 }
 #copyright {
   text-align: center;
   font-size: 20px;
 }
 
 .quote {
   font-size: 30px;
   text-align: center;
 }
 
 .ocean { 
   height: 10%;
   width: 100%;
   position:absolute;
   bottom:0;
   left:0;
   background: #015871;
 }
 
 .wave {
   background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x; 
   position: absolute;
   top: -190px;
   width: 5000px;
   height: 250px;
   animation: wave 10s cubic-bezier( 0.36, 0.30, 0.33, 0.33) infinite;
   transform: translate3d(0, 0, 0);
 }
 
 @keyframes wave {
   0% {
     margin-left: 0;
   }
   100% {
     margin-left: -1600px;
   }
 }
 
 
 
 
