.rotatingText-adjective{
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    left: 0;
    /* margin-left: 270px; */
    opacity: 0;
    position: absolute;
    color:black;
    right:0; 

    &:nth-of-type(1){
        animation-name: rotate;
        animation-duration: 5s;
        animation-delay: 2s;
        animation-fill-mode: forwards;
        height: 10px;
        top: 9em;
    }
    
    &:nth-of-type(2){
        animation-name: rotate;
        animation-duration: 5s;
        animation-delay: 3s;
        animation-fill-mode: forwards;
        /* text-indent: 7em; */
        top: 12em;
    }
    
    &:nth-of-type(3){
        animation-name: rotate;
        animation-duration: 5s;
        animation-delay: 4s;
        animation-fill-mode: forwards;
        /* text-indent: 15em; */
        top: 15em;
    }
}

@keyframes rotate{
    0% {
        opacity: 0;
    }
    
    /* 20%, 80% {
        opacity: 1;
    } */

    100% {
        opacity: 1;
    }
}