.img-about{
    width: 200px;
}

.img-container{
    float: left;
    margin: 30px;
    padding: 5px;
    border: 1px solid black;
    background-color: #ddd;
}

section#about{
    background-color:#c5d5c5;
    z-index: 75;
}

.my-name {
    margin-top: 60px;
    font-weight: bold;
}

ul{
    font-size: 17px;
    li{
        list-style: none;
        margin: 10px;
    }

}

span{
    font-size: 17px;
}

p{
    font-size: 20px;
    text-indent: 2em;
}