#introduction{
    position: relative;
    z-index: 100;
    min-height: 100%;
    width: 100%;
    padding: 50px;
}

#introduction-header{
    animation: slide-up 2s;
    font-family: 'Yesteryear', cursive;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    color: black;
}

.content {
  text-align: center;
}

