#footer {
    background:radial-gradient(ellipse at center, rgba(255,254,234,1) 0%, rgba(255,254,234,1) 35%, #B7E8EB 100%);
    overflow: hidden;
    min-height: 50%;
    position: relative;
    padding-top: 60px;
  }
#copyright {
  text-align: center;
  font-size: 20px;
}

.quote {
  font-size: 30px;
  text-align: center;
}

.ocean { 
  height: 10%;
  width: 100%;
  position:absolute;
  bottom:0;
  left:0;
  background: #015871;

  .wave {
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x; 
    position: absolute;
    top: -190px;
    width: 5000px;
    height: 250px;
    animation: wave 10s cubic-bezier( 0.36, 0.30, 0.33, 0.33) infinite;
    transform: translate3d(0, 0, 0);
  }
}
  
@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}
  