.circle-text {
    width: 130px;
    height: 130px;    
    line-height: 130px;
    border-radius: 50%;
    font-size: 20px;
    font-weight: bold;
    color: #000;
    text-align: center;
    background: lightgrey
  }